.hangman-container {
  position: relative;
  width: 200px;
  height: 300px;
  margin-left: 30px;

  @media (min-width: 640px) { 
    margin: 0 auto;
  }
}

.fail {background-color: red;}

.bottom-bar {
  height: 10px;
  width: 100;
  /* max-width: 320px; */
  background-color: #000;
}

.middle-bar {
  height: 300px;
  width: 10px;
  background-color: #000;
  margin-left: calc(50% - 5px);
}

.top-bar {
  height: 10px;
  width: 100px;
  background-color: #000;
  margin-left: calc(50% - 5px);
}

.hangging-rope {
  position: absolute;;
  height: 50px;
  width: 10px;
  background-color: #000;
  top: 0;
  right: 0;
}

.head {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #000;
  top: 50px;
  right: -20px;
  border-radius: 50%;
}

.body {
  position: absolute;
  height: 105px;
  width: 10px;
  background-color: #000;
  top: 95px;
  right: 0;
}

.right-arm {
  position: absolute;
  height: 60px;
  width: 10px;
  background-color: #000;
  top: 100px;
  right: -20px;
  transform: rotate(60deg);
}

.left-arm {
  position: absolute;
  height: 60px;
  width: 10px;
  background-color: #000;
  top: 100px;
  right: 20px;
  transform: rotate(-60deg);
}

.right-leg {
  position: absolute;
  height: 70px;
  width: 10px;
  background-color: #000;
  top: 187px;
  right: -20px;
  transform: rotate(-32deg);
}

.left-leg {
  position: absolute;
  height: 70px;
  width: 10px;
  background-color: #000;
  top: 187px;
  right: 20px;
  transform: rotate(32deg);
}
